{% extends "./plantilla.html" %}

{% block title %}Editar contraseña{% endblock %}


{% block body %}
<div class="row">
  <div class="col-md-4 offset-md-4">
    <h2>Edición de contraseña</h2>
        <div class="card">
            <div class="card-body">
                <form action="/editarPassword/" method="POST"> {% csrf_token %}
                    <div class="form-grup py-1">
                        <input type="text" id="txtId" name="txtId" value="{{password.id}}" class="form-control"
                               placeholder="Id" minlength="6" maxlength="6"  readonly required>
                    </div>

                    <div class="form-grup py-1">
                        <input type="text" id="txtNombre" name="txtNombre" value="{{password.nombre}}"
                               class="form-control" placeholder="Nombre del sitio" maxlength="50" required>
                    </div>

                    <div class="form-grup py-1">
                        <input type="text" id="txtPassword" name="txtPassword"
                               class="form-control" placeholder="Nueva contraseña" maxlength="50" required>
                    </div>

                    <div class="form-grup py-1">
                        <input type="text" id="txtDescripcion" name="txtDescripcion"
                               class="form-control" placeholder="Descripcion" maxlength="500">
                    </div>

                    <div class="form-grup py-1">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
  </div>
</div>



{% endblock %}