{% extends "./plantilla.html" %}

{% block title %}Gestión de contraseñas{% endblock %}


{% block body %}

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <h2>Agregar contraseña</h2>
        <div class="card">
            <div class="card-body">
                <form action="registrarPassword/" method="POST"> {% csrf_token %}

                    <div class="form-grup py-1">
                        <input type="text" id="txtNombre" name="txtNombre" class="form-control"
                               placeholder="Nombre del sitio" maxlength="50" required>
                    </div>

                    <div class="form-grup py-1">
                        <input type="text" id="txtPassword" name="txtPassword" class="form-control"
                               placeholder="Contraseña" maxlength="50" required>
                    </div>

                    <div class="form-grup py-1">
                        <input type="text" id="txtDescripcion" name="txtDescripcion" class="form-control"
                               placeholder="Descripcion" maxlength="500">
                    </div>

                    <div class="form-grup py-1">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Listado de contraseñas</h1>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Contraseña</th>
                        <th>Descripción</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in passwords%}
                    <tr>
                        <td> {{forloop.counter}}</td>
                        <td> {{i.id}}</td>
                        <td> {{i.nombre}}</td>
                        <td> {{i.password}}</td>
                        <td> {{i.descripcion}}</td>
                        <td> <a href="edicionPassword/{{i.id}}" class="btn btn-info">Editar</a></td>
                        <td> <a href="eliminarPassword/{{i.id}}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}