{% extends "./plantilla.html" %}

{% block title %} Agregar detalle {% endblock %}


{% block body %}
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">

        <h2>Agregar titular</h2>
        <div class="card">
            <div class="card-body">
                <form action="/maestroDetalleTP2/agregarDetalle/" method="POST"> {% csrf_token %}

                    <div class="form-grup py-1">
                        <label>Nombre de producto</label>
                    </div>

                    <div class="form-grup py-1">
                        <input type="text" id="txtProducto" name="txtProducto" class="form-control"
                               placeholder="Producto" maxlength="150" required>
                    </div>

                    <div class="form-grup py-1">
                        <label>Cantidad</label>
                    </div>

                    <div class="form-grup py-1">
                        <input type="number" id="txtCantitad" name="txtCantidad" class="form-control"
                               placeholder="Ej: 2" min="0" required>
                    </div>

                    <div class="form-grup py-1">
                        <label>Descripción del producto</label>
                    </div>

                    <div class="form-grup py-1">
                        <input type="text" id="txtDescripcion" name="txtDescripcion" class="form-control"
                               placeholder="Ej: Producto ultra fragil" required>
                    </div>

                    <div class="form-grup py-1">
                        <label>Precio por unidad</label>
                    </div>

                    <div class="form-grup py-1">
                        <input type="number" id="txtPrecioUnitario" name="txtPrecioUnitario" class="form-control"
                               placeholder="Ej: 10.5" step="0.01" min="0" required>
                    </div>


                    <div class="form-grup py-1">
                        <label>Porcentaje de impuesto</label>
                    </div>

                    <div class="form-grup py-1">
                        <input type="number" id="txtImpuesto" name="txtImpuesto" class="form-control"
                               placeholder="Ej: 21" step="0.01"  min="0" required>
                    </div>

                    <div class="form-grup py-1">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}