{% extends "./plantilla.html" %}

{% block title %} Agregar Detalle {% endblock %}


{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">

        <h1>Detalles</h1>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Descripción</th>
                        <th>Precio por unidad</th>
                        <th>Importe</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in productos%}
                    <tr>
                        <td> {{forloop.counter}}</td>
                        <td> {{i.producto}} {{forloop.counter}}</td>
                        <td> {{i.cantidad}}</td>
                        <td> {{i.descripcion}}</td>
                        <td> {{i.precioUnitario}}</td>
                        <td> {{i.importe}}</td>
                        <td> <a href="/maestroDetalleTP2/edicionProducto/{{forloop.counter}}" class="btn btn-info">Editar</a></td>
                        <td> <a href="/maestroDetalleTP2/eliminarProducto/{{i.producto}}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <a href="/maestroDetalleTP2/gestionProducto/" class="btn btn-info">Agregar nuevo producto</a>
    </div>

  </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h2>Agregar impuesto</h2>
            <div class="card">
                <div class="card-body">
                    <form action="/maestroDetalleTP2/agregarDetalle/" method="POST"> {% csrf_token %}

                        <div class="form-grup py-1">
                            <label>Porcentaje de impuesto</label>
                        </div>

                        <div class="form-grup py-1">
                            <input type="number" id="txtImpuesto" name="txtImpuesto" class="form-control"
                                   placeholder="Ej: 21" step="0.01"  min="0" required>
                        </div>

                        <div class="form-grup py-1">
                            <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
    </div>
</div>
{% endblock %}