{% extends "./plantilla.html" %}

{% block title %} Modificar Detalle {% endblock %}


{% block body %}

<div class="row">

    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <a href="/maestroDetalleTP2/modificacionCabecera/" class="btn btn-info">Modificar titular</a>
    </div>

    <h1>Cabecera</h1>

</div>

<div>
    <dl class="row">
        <dt class="col-sm-3">Facturar a nombre de:</dt>
        <dd class="col-sm-9">
            {{cabecera.titular}}
        </dd>

        <dt class="col-sm-3">Dirección del titular:</dt>
        <dd class="col-sm-9">
            {{cabecera.direccion}}
        </dd>

        <dt class="col-sm-3">Fecha de facturación:</dt>
        <dd class="col-sm-9">
            {{cabecera.fechaEmision}}
        </dd>

        <dt class="col-sm-3 text-truncate">Fecha de vencimiento:</dt>
        <dd class="col-sm-9">
            {{cabecera.fechaVencimiento}}
        </dd>
    </dl>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">

        <h1>Detalles</h1>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Descripción</th>
                        <th>Precio por unidad</th>
                        <th>Importe</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in productos%}
                    <tr>
                        <td> {{forloop.counter}}</td>
                        <td> {{i.producto}}</td>
                        <td> {{i.cantidad}}</td>
                        <td> {{i.descripcion}}</td>
                        <td> {{i.precioUnitario}}</td>
                        <td> {{i.importe}}</td>
                        <td> <a href="/maestroDetalleTP2/modificacionProducto/{{forloop.counter}}" class="btn btn-info">Editar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

  </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h2>Modificar impuesto</h2>
            <div class="card">
                <div class="card-body">
                    <form action="/maestroDetalleTP2/actualizarFactura/" method="POST"> {% csrf_token %}

                        <div class="form-grup py-1">
                            <label>Porcentaje de impuesto</label>
                        </div>

                        <div class="form-grup py-1">
                            <input type="number" id="txtImpuesto" name="txtImpuesto" value="{{impuesto}}"
                                   class="form-control" placeholder="Ej: 21" step="0.01"  min="0" required>
                        </div>

                        <div class="form-grup py-1">
                            <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
    </div>
</div>
{% endblock %}